@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;

}

/* Dark theme variables */
:root {
    --text-light: #333333;
    --text-dark: #ffffff;
    --bg-light: #ffffff;
    --bg-dark: #121212;
    --accent-color: #c809ea;
  }
 
  body {
    color: var(--text-light);
    background: var(--bg-light);
    transition: all 0.3s ease;
  }
  
  body.dark-theme {
    color: var(--text-dark);
    background: var(--bg-dark);
  }
  
  body.dark-theme a {
    color: var(--text-dark);
  }

